<div class="global couleur-main">
    <main class='principal'>
    	<section class="accueil">
	    	<h1>TP1 - <%= __('gestion de membre')%></h1>
	    	<h2><%= __('Cours')%> : Programmation et veille technologique</h2>
	    	<h3><%= __('Remise')%> : 14 février 2018</h3>
	    	<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    	</section>
    </main>
</div>	

