<head>
	<title>veille node 9</title>
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/css/tableau.css">
	<link rel="stylesheet" type="text/css" href="/css/chat.css">
	<link rel="stylesheet" type="text/css" href="/css/formulaire.css">
	<link rel="stylesheet" type="text/css" href="/css/footer.css">

	
	<link href="/fontawesome/fontawesome-all.css" rel="stylesheet">
	<script src="socket.io/socket.io.js"></script>
</head>

